.section2{
    display: flex;
    width: 100vw;
    flex-direction: column;
    overflow: hidden;
    text-align: center;

    .topTrangle{
     color: white;
     background-color: rgb(3, 49, 14);
     width:100vw;
     height: 11vh;
  
     transform: rotate(3deg) translateY(-50%);
     
    }


    .container{
        flex-direction: column;
         height: 100vh;
         
       .topDiv{
        
       }
       .bottomDiv{
             width: 90%;
          
             overflow-x: hidden;
             text-align: center;
            .buttonDiv{
                
                width: 100%;
                 justify-content: end;
                 padding-right: 3rem;
               button{
                padding: 5px;
               }
            }
            
       }



    }
   




}
